/* font-family: 'Hammersmith One', sans-serif;
font-family: 'Playfair Display', serif; */

*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background: url("Moutain-guy-Done.png") no-repeat center 25% fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-attachment: fixed;
  color: white;
  font-family: "Montserrat", sans-serif;
}

main {
  margin: 0 8%;
  padding-bottom: 40px;
}

h1 {
  font-family: "Hammersmith One", sans-serif;
  font-size: 4em;
}

h2 {
  font-size: 2em;
  font-weight: bold;
  padding-bottom: 20px;
  display: flex;
  justify-content: center;
}

h4 {
  font-family: "Playfair Display", serif;
  text-align: center;
}

p {
  font-size: 1.2em;
  /* font-weight: bold; */
}

img {
  width: 100%;
  height: 100%;
}

.gallery-img {
  height: 300px;
  padding: 10px;
  /* * */
  position: relative;
}

.gallery-img img:hover {
  cursor: pointer;
  /* filter: grayscale(100%); */
  filter: blur(2px);
  transition: transform 1s, filter 1s ease-in-out;
  transform: scale(1.2);
}

/* * */
.gallery-img img:hover .content {
  opacity: 1;
}

/* * */
.gallery-img img {
  display: block;
}

/* * */
/* .content{
  background: transparent;
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: opacity 1s ease;
  color: #fff;
  opacity: 0;
} */

/* * */
/* .zoom-text{
  width: 80px;
  height: 80px;
  background: burlywood;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  font-weight: bold;
  transition: transform 0.2s linear;
} */

/* * */
/* .content h5{
  padding: 15px 0;
} */

/* * */
/* .zoom-text:hover{
  cursor: zoom-in;
  transform: scale(1.1);
} */

/* .portrait {
  height: 380px;
  width: 120px;
}

.landscape {
  height: 120px;
  width: 380px;
}

.square {
  height: 300px;
  width: 300px;
} */

a {
  text-decoration: none;
  color: white;
}

.hide {
  display: none;
}

.email:hover + .hide {
  font-size: 0.8em;
  display: block;
  color: green;
}

.container {
  padding: 50px 0;
}

.intro {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 650px;
}

.contact-links {
  list-style: none;
  text-align: center;
}

.profile-picture {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  overflow: hidden;
  display: inline-block;
}

/* nav {
  display: flex;
} 

.selected-lang {
  display: flex;
}

.langWrap ul {
  margin: 0;
  padding: 0;
  background-color: #fff;
  border: 1px solid #f8f8f8;
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}

.langWrap ul li {
  list-style: none;
}

.langWrap ul li a {
  width: 125px;
  display: block;
  padding: 5px 10px;
}

.langWrap ul li a:hover {
  background-color: #f2f2f2;
}  */

.langWrap a {
  font-size: .7em;
  padding: 0 2px;
}

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/

.navbar {
  background-color: rgb(80, 72, 62);
}

.nav-link {
  color: white;
}

.navbar-toggler {
  color: #fff;
}

.flag {
  width: 20px;
  height: 20px;
}

/* .navbar > span {
  color: white;
} */

.scrolled-down{
  transform:translateY(-100%); transition: all 0.3s ease-in-out;
}
.scrolled-up{
  transform:translateY(0); transition: all 0.3s ease-in-out;
}


/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
#footer {
  background: #fff;
  color: black;
  /* font-size: 14px; */
  text-align: center;
  padding: 10px 0;
}

.container-footer {
  padding: 10px 0;
}

/* #footer h3 {
  font-size: 36px;
  font-weight: 700;
  position: relative;
  font-family: "Poppins", sans-serif;
  padding: 0;
  margin: 0 0 15px 0;
} */
/* #footer p {
  font-size: 0.8em;
  font-style: italic;
  padding: 0;
  margin: 0 0 40px 0;
} */
/* #footer .social-links {
  margin: 0 0 40px 0;
} */
/* #footer .social-links a {
  font-size: 18px;
  display: inline-block;
  background: #97c4b8;
  color: #fff;
  line-height: 1;
  padding: 8px 0;
  margin-right: 4px;
  border-radius: 50%;
  text-align: center;
  width: 36px;
  height: 36px;
  transition: 0.3s;
} */
/* #footer .social-links a:hover {
  background: #ccf3ee;
  color: #fff;
  text-decoration: none;
} */
#footer .copyright {
  margin: 0 0 5px 0;
  font-size: 0.8em;
}
#footer .credits {
  font-size: 0.7em;
}

#footer a {
  color: green;
}

/******** js related *******/

.image-view{
  position: fixed;
  top: 0;
  height: 100vh;
  background: rgba(0, 0, 0, 0.8);
  width: 85%;
  display: none;
}

.image-box{
  width:70vw;
  height: 80vh;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /*background: tomato;*/
  display: none;
}

#prev-btn, #next-btn{
  width: 0;
  height: 0;
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  transition: all 0.5s ease;
  cursor: pointer;
}

#prev-btn{
  border-right: 40px solid grey;
  left: -50px;
}

#next-btn{
  border-left: 40px solid grey;
  right: -50px;
}

#next-btn:hover, #prev-btn:hover{
  opacity: 0.6;
}