/* font-family: 'Hammersmith One', sans-serif;
font-family: 'Playfair Display', serif; */

body {
  background: url("Moutain-guy-Done.png") no-repeat center 25% fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-attachment: fixed;
  color: white;
  font-family: "Montserrat", sans-serif;
}

main {
  margin: 0 8%;
  padding-bottom: 40px;
}

h1 {
  font-family: "Hammersmith One", sans-serif;
  font-size: 4em;
}

h2 {
  font-size: 2em;
  font-weight: bold;
  padding-bottom: 20px;
  display: flex;
  justify-content: center;
}

h4 {
  font-family: "Playfair Display", serif;
  text-align: center;
}

p {
  font-size: 1.2em;
  /* font-weight: bold; */
}

img {
  width: 100%;
  height: 100%;
}

.gallery-img {
  height: 300px;
  padding: 10px;
}

/* img {
  width: 100%;
  height: 100%;
}

.portrait {
  height: 380px;
  width: 120px;
}

.landscape {
  height: 120px;
  width: 380px;
}

.square {
  height: 300px;
  width: 300px;
} */

a {
  text-decoration: none;
  color: white;
}

.hide {
  display: none;
}

.email:hover + .hide {
  font-size: 0.8em;
  display: block;
  color: green;
}

.container {
  padding: 50px 0;
}

.intro {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 650px;
}

.contact-links {
  list-style: none;
  text-align: center;
}

.profile-picture {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  overflow: hidden;
  display: inline-block;
}




/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/

/* .navbar {
  background-color: rgb(80, 72, 62);
} */

.nav-link {
  color: white;
}

.navbar-toggler {
  color: #fff;
}

/* .navbar > span {
  color: white;
} */


/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
#footer {
  background: #fff;
  color: black;
  /* font-size: 14px; */
  text-align: center;
  padding: 10px 0;
}

.container-footer {
  padding: 10px 0;
}

/* #footer h3 {
  font-size: 36px;
  font-weight: 700;
  position: relative;
  font-family: "Poppins", sans-serif;
  padding: 0;
  margin: 0 0 15px 0;
} */
/* #footer p {
  font-size: 0.8em;
  font-style: italic;
  padding: 0;
  margin: 0 0 40px 0;
} */
/* #footer .social-links {
  margin: 0 0 40px 0;
} */
/* #footer .social-links a {
  font-size: 18px;
  display: inline-block;
  background: #97c4b8;
  color: #fff;
  line-height: 1;
  padding: 8px 0;
  margin-right: 4px;
  border-radius: 50%;
  text-align: center;
  width: 36px;
  height: 36px;
  transition: 0.3s;
} */
/* #footer .social-links a:hover {
  background: #ccf3ee;
  color: #fff;
  text-decoration: none;
} */
#footer .copyright {
  margin: 0 0 5px 0;
  font-size: 0.8em;
}
#footer .credits {
  font-size: 0.7em;
}

#footer a {
  color: green;
}